/*Global values*/
body {
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
section {
    background-color: #EFEFEF;
    padding:  15px 0 0 0;
    margin-bottom: -1em;
}
main .container-fluid {
    padding: 0;
}
/*Header tags*/
header nav {
    font-size: 1.125em;
    border-bottom: #2e3192 2px solid;
    background-color: rgba(255,255,255, 1);
    position: fixed;
    height: 90px;
    width: 100%;
    padding: 10px 75px;
    z-index: 100;
}
nav ul {
    padding: 1.5em 0;
    list-style: none;
    font-size: 1em;
    float: right;
}
nav ul li {
    display: inline;
    padding: 0 1em;
    color: #8781bd;
}
nav ul li:hover {
    cursor: pointer;
    font-weight: 400;
    color: #2e3192;
    transition: 2s;
}
nav img {
    height: 100%;
    max-height: 80px;
    float: left;
}
.blue-button{
    font-size: 24px;
    color: #fff;
    background-color: #474bc5;
    border: #8781bd 2px solid;
    border-radius: 15px;
    cursor: pointer;
}
.blue-button:hover{
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    transform: scale(1.05);
    background-color: #2e3192;
    transition: 1s;
}
/*TO-DO - Fix width for first element*/
.scrollspy {
    position: relative;
    z-index: 101;
    background-color: #474bc5;
    height: 5px;
    width: 50px;
    padding: 0 1em;
    margin: 0 1em;
}
.mobile-view {
    display: none;
}
/*DropNav*/
.dropNav-items {
    padding: 3em 0;
    color: #2e3192;
    display: none;
    text-align: center;
    font-size: 2em;
}
/*Main content tags*/
/*TO-DO a fading-in animation would look really cool here*/
.banner{
    position: relative;
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    background-image: url('../images/capaSite.png');
    background-size: cover;
    background-position: center;
    height: 720px;
    opacity: 0;
}
/*TO-do Might need more adjustments*/
@media screen and (max-width:720px){
    .banner{
        height: 540px;
    }
}
.banner-text {
    color: #fff;
    margin: 0 20px;
    position: absolute;
    z-index: 2;
    justify-content: left;
    animation-name: top-down;
    -webkit-animation-name: top-down;
    -moz-animation-name: top-down;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}
/*Banner animation frames*/
@keyframes top-down {
    0% {
        top: -800px;
    }
    100% {
        top: 300px;
    }
}
@media screen and (max-width: 720px){
    @keyframes top-down {
        0% {
            top: -800px;
        }
        100% {
            top: 220px;
        }
    }
}
/*Banner image*/
.banner-text img {
    height: 169px;
}
@media screen and (max-width:720px){
    .banner-text img{
        height: 98px;
    }
}
/*Banner header (title)*/
.banner-text h1 {
    font-size: 4.5em;
    font-weight: bold;
}
@media screen and (max-width:1280px){
    .banner-text h1{
        font-size: 4em;
    }
}
@media screen and (max-width:720px){
    .banner-text h1{
        font-size: 2.5em;
    }
}
/*Banner subtitle*/
.banner-text p {
    font-size: 2em;
    font-weight: 300;
}
@media screen and (max-width:1280px){
    .banner-text p{
        font-size: 1.75em;
    }
}
@media screen and (max-width:720px){
    .banner-text p{
        font-size: 1.5em;
    }
}
.overlay-main {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-image:
    linear-gradient(135deg,rgba(46,49,146,0.5), rgba(0,0,0,0));
}
.option-row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    background-color: #fff;
}
/*TO-DO you'll have to adjust scale between screen widths*/
.option-button{
    position: relative;
    border-bottom: 5px #8781BD solid;
    background-color: #fff;
    padding: 5px;
    z-index: 3;
    height: 90px;
    width: 240px;
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    transform: scale(1.5);
}
.option-button i{
    color: #2E3192;
    display: flex;
    justify-content: center;
    margin: 5px;
    font-size: 40px;
}
.option-button p{
    color: #2E3192;
    display: flex;
    justify-content: center;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.option-button:hover{
    animation-name: highlight;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes highlight{
    0%{
        bottom: 0;
    }
    100% {
        bottom: 20px;
        border-bottom-width: 8px;
        -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.8);
        -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.8);
        box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.8);
    }
}
@media screen and (max-width: 1130px){
    .option-button{
        height: 90px;
        width: 220px;
    }
}
@media screen and (max-width: 1040px){
    .option-button{
        height: 90px;
        width: 180px;
    }
}
@media screen and (max-width: 870px){
    .option-button{
        height: 90px;
        width: 150px;
    }
    .option-button p{
        font-size: 12px;
    }
}
@media screen and (max-width: 735px){
    .option-button{
        height: 90px;
        width: 120px;
    }
    .option-button p{
        font-size: 10px;
    }
}
@media screen and (max-width: 590px){
    .option-button{
        height: 90px;
        width: 90px;
    }
}
@media screen and (max-width: 590px){
    .option-button{
        height: 70px;
        width: 70px;
        transform: scale(1.55);
    }
    .option-button p{
        font-size: 10px;
    }
}
@media screen and (max-width: 600px){
    .option-button i{
        font-size: 24px;
    }
    .option-button p{
        font-size: 10px;
    }
}
/*Description row*/
.description{
    text-align: center;
    opacity: 0;
}
.description h2{
    font-weight: 300;
    font-size: 1.75em;
    line-height: 1.5em;
    margin: 15px 15%;
}
@media screen and (max-width: 420px){
    .description h2{
        font-size: 1.25em;
        line-height: 1.5em;
        margin: 15px 5%;
    }
}
.description button{
    height: 2.5em;
    position: relative;
    left: -800px;
    opacity: 0;
}
.blue{
    color: #2E3192;
    font-weight: bold;
    font-size: 1.25em;
}
.post-thumbnail{
    max-height: 400px;
}
.picture-shadow {
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
}
.title {
    font-weight: bold;
    color: #2e3192;
}
.blog-post{
    background-color: #fff;
    padding: 0 2em 1em 2em;
    margin-bottom: -1em;
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
}
.blog-text{
    padding: 0 5em;
    margin-bottom: -1em;
}
.blog-post i {
    padding: 16px;
    font-size: 2em;
    color: #2e3192;
}
.blog-post a {
    color: #2e3192;
}
.blog-post a:hover {
    color: #E6AF2E;
    transition: color 1s;
}
.section-box {
    margin: 15px 0;
    background-color: #fff;
    padding: 1em 2em;
}
.section-link{
    border-bottom: #8781BD 8px solid;
}
.section-link p{
    margin-bottom: 2px
}
/*Call to action*/
.CTA {
    background-color: #8781BD;
    color: #fff;
}
.submit{
    width: 100%;
}
.CTA-message{
    text-align: center;
}
.CTA-message h2{
   font-size: 3em;
   font-weight: bold;
}
.CTA i{
    font-size: 90px;
    padding-right: 90px;
    float: right;
}
.CTA input{
    height: 2.5em;
}
.products {
    position: relative;
    right: -1800px;
    opacity: 0;
}
.option {
    border: 5px solid #fff;
    padding: 0;
    transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
}
.option img {
    position: relative;
    z-index: 0;
}
.option p{
    position: absolute;
    width: 100%;
    bottom: 5px;
    text-align: center;
    color: #fff;
    z-index: 3;
    font-size: 1.5em;
}
.option:hover p {
    font-size: 1.75em;
    transition: 1s;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5));
}
/*Footer tags*/
footer {
    padding: 1em 0 0 0;
    background-color: #2e3192;
    height: auto;
    color: #fff;
    position: relative;
}
footer h2 {
    font-size: 1.25em;
    padding-bottom: 1em;
    border-left: solid 1px #2e3192;
}
footer .col-md-3:first-child h2{
    border-left: none;
}
footer a:hover {
    color: #E6AF2E;
    transition: 1s;
}
.address { 
    text-align: center;
    font-weight: normal;
}
.address a{
    font-size: 1.25em;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    background-color: #8781bd;
    border-radius: 100%;
    height: 3em;
    width: 3em;
    margin: 1em 1em 0 0;
}
.circle:hover {
    background-color: #E6AF2E;
    transition: 1s;
}
.circle i {
    color: #2e3192;
    font-size: 2em;
    padding: 0.2em 0.3em;
}
.copyright {
    background-color: #202265;
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}
.copyright img {
    opacity: 0.75;
    float: right;
}
/*Media queries*/
/*TO DO Don´t remember why, might delete later*/
@media screen and (max-width:700px) {
    .dropNav-items {
        display: none;
    }
}
/*For smartphones, a lot of triggers happen @ this threshold*/
@media screen and (max-width: 720px) {
    header nav {
        background-color: rgba(255,255,255,1);
        padding: 10px 5px;
    }
    nav ul li{
        display: none;
    }
    nav {
        display: inline-block;
        padding: 0 0.5em;
    }
    nav img {
        float: left;
    }
    #toggleNav {
        float: right;
        padding: 0.25em;
        color: #8781bd;
    }
    .mobile-view {
        display: initial;
        font-size: 3em;
        padding: 0;
    }
    .scrollspy {
        display: none;
    }
    .option-button{
        height: 80px;
        width: 100px;
    }
    .option-button i{
        font-size: 30px;
    }
}
@media screen and (max-width: 360px) {
    .option-button{
        height: 60px;
        width: 57px;
    }
    .option-button i{
        font-size: 16px;
    }
    .option-button p{
        font-size: 7px;
    }
    .banner-text button {
        height: 30px;
        font-size: 16px;
    }
    .option-row{
        padding-bottom: 20px;
    }
}