/*Global values*/

/*
    Cores da marca: 
    Roxo: #8781bd
    Azul: #303092
*/
body {
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-image: url('../images/bg-white.png') ;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}
p {
    font-size: 16px;
}
.container-fluid {
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
}
/*Header tags*/
nav {
    background-color: hsla(360, 100%,100%, 0.75);
    border-bottom: #303092 2px solid;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav {
    position: fixed;
    height: 5em;
    width: 100%;
    z-index: 1;
}
nav ul {
    text-decoration: none;
    list-style: none;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    padding: 0 1em;
    color: #8781bd;
}
nav ul li:hover {
    color: #303092;
    transition: color 1s;
}
nav img {
    height: 80px;
    float: left;
}
.mobile-view {
    display: none;
}
@media screen and (max-width: 720px) {
    nav ul li{
        display: none;
    }
    nav {
        display: inline-block;
        padding: 0 0.5em;
    }
    nav img {
        float: left;
    }
    #toggleNav {
        float: right;
        padding: 0.25em;
        color: #8781bd;
    }
    .mobile-view {
        display: initial;
        font-size: 3em;
        padding: 0;
    }
    .mobile-view:hover {
        color: #303092;
        transition: color 1s;
    }
}
/*dropNav*/
.dropNav-items {
    padding: 3em 0;
    display: none;
    text-align: center;
    font-size: 2em;
}
@media screen and (max-width:700px) {
    .dropNav-items {
        display: none;
    }
}
/*Main content tags*/
.banner {
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
}
@media screen and (max-width:720px) {
    .banner {
        padding-top: 78px;
    }
}
.banner-text {
    position: absolute;
    left: 0;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    animation-name: top-down;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
/*gotta add some media queries*/
@keyframes top-down {
    0% {
        top: -800px;
    }
    100% {
        top: 80%;
    }
}
@media screen and (max-width:360px) {
    @keyframes top-down {
        0% {
            top: -800px;
        }
        100% {
            top: 35%;
        }
    }
}
.banner-text h2 {
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    border: solid #fff 2px;
    padding: 0.5em;
}
@media screen and (max-width: 360px) {
    .banner-text h2 {
        font-size: 1.25em;
        width: 250px;
    }
}
.blog-post {
    background-color: hsla(100, 100%, 100%, 1);
    margin-bottom: -1em;
    padding: 6em 2em 2em 2em;
    -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
}
.blog-post i {
    padding: 16px;
    font-size: 2em;
    color: #303092;
}
.blog-post a {
    color: #303092;
}
.blog-post a:hover {
    color: #8781bd;
    transition: color 1s;
}
.option {
    background-color: #D3D3D3;
    padding: 2em 0;
    border: 5px solid #fff;
}
/*Footer tags*/
footer {
    background-color: #303092;
    height: 100%;
    color: #fff;
}
footer nav {
    padding-top: 1em;
    background-color: inherit;
    display:flex;
    align-items: unset;
    max-height: 2em;
}
footer nav ul li {
    color: #fff;
}
footer nav ul li:hover {
    /*Change(?) this*/
    color: yellow;
    transition: color 1s;
}
footer nav ul {
    font-size: 1.25em;
}
address {
    padding: 1em;
    text-align: center;
    font-weight: 300;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    background-color: #fff;
    border-radius: 100%;
    height: 3em;
    width: 3em;
    margin: 0 1em;
}
.circle i {
    color: #303092;
    font-size: 2em;
    padding: 0.2em 0;
}